# Feature Flags (true = visible, false = masque)
NEXT_PUBLIC_ENABLE_REALISATIONS=false
NEXT_PUBLIC_ENABLE_TARIFS=false

# Umami Analytics
NEXT_PUBLIC_UMAMI_SCRIPT_URL="https://your-umami-domain/script.js"
NEXT_PUBLIC_UMAMI_WEBSITE_ID="your-website-id"


